.itemsCard {
  background: var(--foreground);
  border-radius: 0.375rem;
  box-shadow: var(--shadow-xl);
  margin-bottom: 1rem;
  overflow: hidden;
}

.todoList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dndItem {
  position: relative;
}

.dndItem.ghost {
  visibility: hidden;
}

.dndItem.dragging {
  background: var(--accent);
}

.itemsFooter {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;

  position: relative;
}

.itemsLeft {
  margin: 0;
  color: var(--secondary);
  font-size: 0.875rem;
  position: relative;
  z-index: 10;
}

.clearCompleted {
  border: 0;
  background: transparent;
  color: var(--secondary);

  font-size: 0.875rem;
  font-weight: 400;
  padding: 0;
  line-height: 1;

  position: relative;
  z-index: 10;
}

.clearCompleted:hover {
  color: var(--primary-foreground);
}

@media (min-width: 768px) {
  .itemsFooter {
    padding: 0 1.5rem;
  }

  .itemsLeft {
    font-size: 0.875rem;
  }

  .clearCompleted {
    font-size: 0.875rem;
  }
}